body{
    color: #d4d5d6;
    background-color: #21252a
}
button {
    margin: 5px;
}

.col-lg-3{
    flex: 0 0 auto;
    width: 30%;
}

.img-thumbnail {
    max-width: 133%;
    height: 88%;
}

.embed-responsive-item{
    width: 500px;
    height: 275px;
}
#uTubeVideoTitle{
    margin-bottom: 20px;
}

label{
    font-size: 2.3em;
}

input{
    font-size: 40px;
}
p{
    font-size: 25px;
}

